body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.first-section {
    text-align: center;
}
.navbar-main {
    display: flex;
    justify-content: end;
}
.navbar-right {
    display: flex;
    justify-content: baseline;
}
.navbar-left {
   
}